@page
@model OrderFood.Pages_Admin_FoodIngredient.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodIngredient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodIngredient.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodIngredient.Ingredient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodIngredient.FoodItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodIngredient.FoodItem.FoodItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FoodIngredient.FoodIngredientId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
