@page
@model OrderFood.Pages.Menu


<h1>Menu</h1>
        <hr/>
        <form class="form-inline" method="get">
            <div class="form-group">
                <!--WARNING! WEIRD BEHAVIOR OF SEARCH!-->
                <input asp-for="Search" value="@Model.Search"  class="form-control"/>
                <input type="hidden" name="personId" value="@Model.SavedPersonId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-secondary btn-info" />
                <input type="submit" value="Reset" name = "ToDoActionReset" class="btn btn-secondary" 
                       @(string.IsNullOrWhiteSpace(Model.Search) ? "disabled=\"disabled\"": "") />
            </div>
        </form>
<div class="space-on-top-20">
    @if (!string.IsNullOrWhiteSpace(Model.Search))
    {
        <p>Search is active. Search term: @Model.Search</p>
    }

</div>
<form method="post">
    <table class="table table-bordered" style="width: initial;">

        <hr/>
        <tr>
            <th>Choose item</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Ingredients</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a asp-page="./Menu" asp-route-foodItemId="@item.FoodItemId" asp-route-personId="@Model.SavedPersonId" class="btn btn-secondary btn-info">Add</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)EUR
                </td>
                <td>
                    <a asp-page="./Ingredients" asp-route-foodItemId="@item.FoodItemId" class="btn btn-secondary btn-info">Ingredients</a>
                </td>
            </tr>
        }
    </table>
     <hr/>
     <table class="table table-bordered" style="width: initial;">
         <h1>Ordered items</h1>
         <tr>
             <th>Remove</th>
             <th>Name</th>
             <th>Category</th>
         </tr>
         @foreach (var item in Model.OrderedItems)
         {
             <tr>
                 <td>
                     <a asp-page="./Menu" asp-route-removeItemId="@item.OrderItemId" asp-route-personId="@Model.SavedPersonId" class="btn btn-secondary btn-info">Remove</a>
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.FoodItem.FoodItemName)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.FoodItem.Category.CategoryName)
                 </td>
             </tr>
         }
     </table>
     @foreach (var item in Model.OrderedItems)
     {
         Model.SumToShow += item.Sum;
     }
     Total = @Model.SumToShow EUR
    
    <hr/>
    <a asp-page="./CompletedOrder" asp-route-personId="@Model.SavedPersonId" class="btn btn-secondary btn-info">Complete Order</a>

</form>



